<%= form_tag diseases_path, :method => :get do %>
  <p>
    <%= text_field_tag :search, params[:search] %>
    <%= submit_tag "Search", :name => nil %>
  </p>
<% end %>

<% @diseases.each do |disease| %>
  <h4><%= disease.name %></h4>
  <ul>
    <li><%= disease.url %></li>
    <li><%= disease.page_content %></li>
  <% end %>
  <ul>