<!DOCTYPE html>
<html>
<head>
  <title>Hypochondriapp</title>
  <%= stylesheet_link_tag    "application", media: "all"%>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <%= favicon_link_tag 'favicon.png' %>
</head>
<body>
<div id="background-image"></div>
<%= yield %>


<div id="copyright">© 2013 The Flatiron School. <a href="https://twitter.com/gregeng" target="blank">Greg Eng</a>, <a href="https://twitter.com/davidhenrybella" target="blank">David Bella</a>, <a href="https://twitter.com/emilyxxie" target="blank">Emily Xie</a></span></div>
</body>
</html>
